.ui-search-bar {
    display: flex;
    width: 100%;
    
}
.ui-search-bar .ui-input-field {
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}
.ui-search-bar .ui-button {
    margin-left: 20px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}